@font-face {
  src: url(/fonts/Reey-Regular.otf);
  font-family: rey;
}
.hero {
  position: relative;
  height: 100vh;
}
.main_slider{
  width: 100%;
}
.slider_img img {
  position: relative;
  height: 100vh;
  filter: grayscale(100%);
}

.hero_prev {
  border: none;
  background-color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  top: 39%;
  right: 30px;
}
.hero_next {
  border: none;
  background-color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  right: 30px;
  top: 50%;
}
.hero .slick-dots {
  height: 40px;
  z-index: 99;
  width: 180px;
  position: absolute;
  bottom: 20px;
  left: 0px;
}
.hero .slick-dots li button::before {
  font-size: 15px;
  color: #ffff;
}
.hero .slick-dots li.slick-active button::before {
  color: #fff;
}
.img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(31, 34, 48, 0.8);
}
.slider_content {
  position: absolute;
  top: 60px;
  left: 50px;
  color: #e9ecef;
  z-index: 99;
  width: 60%;
}
.slider_content h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 80px;
  font-family: rey;
}
.slider_content h1 {
  font-size: 103px;
  font-weight: 800;
  line-height: 120px;
  font-family: "Poppins", sans-serif;
}
.learn_more_btn {
  border: none;
  background-color: #15c8a0;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-top: 45px;
  cursor: pointer;
}
.learn_more_btn .fa-arrow-right{
    margin-right: 10px;
    color: #15c8a0;
    background-color: #fff;
    padding:2px 3px;
    border-radius: 50%;
    font-size: 14px
}
.poor {
  position: relative;
}
.content_img img {
  position: absolute;
  top: 0;
  z-index: 99;
}
.slider_footer {
  position: absolute;
  bottom: -16px;
  right: 30px;

  z-index: 99;
}
.slider_box {
  height: 160px;
  width: 400px;
  background-color: #eff5f4;
}
.slider_box li {
 
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
}
.box_number {
  color: #15c8a0;
  font-size: 35px;
  font-weight: 900;
}
.box_text {
  font-size: 16px;
  font-weight: 800;
}
.slider_box li:hover {
  background-color: #15c8a0;
  color: #fff;
}
.slider_box li:hover > .box_number {
  color: #fff;
}
@media (max-width:991px) {
  .slider_content .poor{
font-size: 75px;
  }
  .slider_content{
   top: 60px;
   left: 100px;
  }
  .learn_more_btn{
    margin-top: 0px;
  }
  .hero{
    height: 70vh;
  }
  .slider_img img{
    height: 70vh;
   }
}
@media (max-width:767px) {
  .slider_content{
    width: 100%;
    left: 40px;
    top: 15px;
  }
  .slider_footer{
    display: none;
  }
  .hero{
    height: 550px;
  }
  .hero_next{
    top: 300px;
  }
  .hero_prev{
    top: 380px;
  }
  .hero .slick-dots {
    display: none;
  }
  .slider_img img{
   height: 550px;
  }
}
@media (max-width:575px) {
  .slider_content .poor{
    font-size: 45px;
    line-height: 64px;
  }
  .slider_content{
    left: 10px;
    width: 95%;
  }
  .hero{
    height: 470px;
  }
  .slider_img img{
    height: 470px;
   }
  .content_img{
    display: none;
  }
  .hero_next{
    display: none;
  }
  .hero_prev{
    display: none;
  }
}